// Nextflow configuration file
// Settings for nextflow maintenance

nextflow.enable.dsl = 2
workflow.output.mode = 'copy'
// lineage.enabled = true
// singularity.enabled = true

// Include config with settings for programs
includeConfig "./params.config"

// For dry-run testing in sinteractive
// nextflow run ... -stub-run -profile stub
profiles {
    stub {
        process {
            executor = 'local'
            memory = 5.GB
            cpus = 2
            // time = 5.min
                  
            // Override ALL specific process configurations
            withName: 'FASTP' {
                memory = 1.GB
                cpus = 1
                ext.args = '--detect_adapter_for_pe --trim_front1=15 --trim_tail1=2'
            }
            
            withName: 'KRAKEN2' {
                memory = 1.GB
                cpus = 1
                ext.args = '--confidence 0.7'
            }
            
            withName: 'KRAKENTOOLS_KREPORT2KRONA' {
                memory = 1.GB
                cpus = 1
            }
            
            withName: 'SPADES' {
                memory = 1.GB
                cpus = 1
                errorStrategy = 'ignore'
                ext.args = '--meta'
            }
          
            withName: 'QUAST' {
                memory = 1.GB
                cpus = 1
                ext.args = '--eukaryote'
            }
            
            withName: 'BUSCO' {
                memory = 1.GB
                cpus = 1
                ext.args = ''
            }
            
            withName: 'BWA_MAPPING' {
                memory = 1.GB
                cpus = 1
            }

            withName: 'MMSEQS_SEARCH' {
                memory = 1.GB
                cpus = 1
                errorStrategy = 'ignore'
            }
        
            withName: 'MMSEQS_REPORT' {
                memory = 1.GB
                cpus = 1
            }

            withName: 'GET_ORGANELLE' {
                memory = 1.GB
                cpus = 1
                errorStrategy = 'ignore'
            }

            withName: 'ITSX' {
                memory = 1.GB
                cpus = 1
                errorStrategy = 'ignore'
            }
        
            withName: 'FILTER_READS' {
                memory = 1.GB
                cpus = 1
            }

            withName: 'FASTAS_FOR_MAP' {
                memory = 1.GB
                cpus = 1
            }
           withName: 'FCSGX_RUNGX' {
                cpus = 1
                memory = 1.GB
                // Limit number of FSC-GX processes working at the same time:
                maxForks = 1
            }

            withName: 'FCSGX_DB_UNLOAD' {
                cpus = 1
                memory = 1.GB
                maxForks = 1
            }

            withName: 'FASTK' {
                cpus = 1
                memory = 1.GB
                ext.args = '-t -p'
            }

            withName: 'MERQURYFK' {
                cpus = 1
                memory = 1.GB
            }
        }
    }
}

// Reports (trace file, timeline, etc.)
// Note: slurm_id -based file assignments are bad with interactive SLURM jobs 
// if multiple nf runs called from the same session, only the last survives.
timeline {
    enabled = true
    overwrite = true
    file = "slurm-${params.slurm_id}_nf-timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "slurm-${params.slurm_id}_nf-report.html"
}
trace {
    enabled = true
    fields = 'task_id,hash,native_id,name,status,exit,attempt,module,submit,duration,realtime,%cpu,%mem,peak_rss,peak_vmem,rchar,wchar,scratch'
    overwrite = true
    file = "slurm-${params.slurm_id}_nf-trace.tsv"
}
dag {
    enabled = false
    overwrite = true
    file = "slurm-${params.slurm_id}_nf-dag.html"
}
