// Nextflow configuration file
// Settings for programs, adjust as needed

// Paths for programs (also see at the end of params)
includeConfig "./paths.config"

// Default parameters
// Can be changed at the start, e.g. `nextflow run --input_dir "/path/to/input"`
params {
    help = false // TBA
    input_dir = null
    // Results folder. Native nextflow parameter, edit through `-output-dir`
    outputDir = 'results'
    // It seems if a folder has both fastq and fq, only one type will be picked up
    pattern = "*_{R1,R2}_*.{fastq,fq}.gz"
    // Optional renaming table. Headerless tsv, 2 columns, no spaces in text: filename-without-_R1-R2 TAB pretty-label
    samplesheet = null 
    // Rename rule if no samplesheet or profile specified. Retain N parts (separated with _)
    sample_name_parts = 1
    // Run SPAdes on all reads, in addition to SPAdes on reads without nrDNA/mito
    spades_on_all_reads = false
    kraken2_db = 'standard'
    save_kraken_fastqs = true
    save_kraken_assignments = false
    fcs_enable = false
    fast_memory = '$LOCAL_SCRATCH'
    fcs_gx_taxid = 452332
    slurm_id = "$SLURM_JOB_ID"
    
    // The following differ between clusters and are specified in a separate paths.config
    augustus_config_path = null
    busco_lineage = null
    mmseqs_target = null
    getorganelle_config_dir = null
    itsx_profiles = null
    fcs_gx_container = null
    fcs_gx_db_source_dir = null
    merquryfk_container = null
    fastk_container = null
}

// Process configuration
// Can be changed by modifying this file
// NB: if fast memory not allocated, processes with `scratch` directive will use main memory
process {
    
    // Use local executor for everything
    executor = 'local'
    cpus = 4
    memory = 16.GB  // Default memory

    // Arguments for processes
    withName: 'FASTP' {
        ext.args = '--detect_adapter_for_pe --trim_front1=15 --trim_tail1=2'
    }
    
    withName: 'KRAKEN2' {
        cpus = 8
        memory = 64.GB
        scratch = params.fast_memory
        ext.args = '--confidence 0.5'
    }
    
    withName: 'SPADES' {
        cpus = 16
        time = 16.h // 8.h is enough for most genomes, 16 is set for rare cases
        memory = { task.attempt == 1 ? 80.GB : 160.GB }  // SPAdes-specific higher memory
        errorStrategy = { task.attempt == 1 ? 'retry' : 'ignore' }
        maxRetries = 1
        scratch = params.fast_memory
        // TODO: '--meta' is both here and in script body - remove one when there will be no need in resume 
        // '--meta' to use metagenomic mode, or change to '--isolate' for single organism
        // '--only-assembler' inroduced in retry attempt as a fix that frequently works
        ext.args = { task.attempt == 1 ? '--meta' : '--meta --only-assembler' }
    }

    withName: 'QUAST' {
        cpus = 4
        memory = 8.GB
        errorStrategy = 'ignore'
        ext.args = '--eukaryote'
    }
    
    withName: 'BUSCO' {
        cpus = 8
        memory = 32.GB  // BUSCO can be memory intensive
        errorStrategy = 'ignore'
        scratch = params.fast_memory
        // For higher precision, add --long (takes a long time though)
        ext.args = '--augustus --tar --opt-out-run-stats'
    }
    
    withName: 'BWA_MAPPING' {
        cpus = 8
        memory = 10.GB
        time = 3.h
        errorStrategy = 'ignore'
    }

    withName: 'MMSEQS_SEARCH' {
        cpus = 16
        memory = 30.GB
        time = 2.h
        errorStrategy = 'ignore'
        scratch = params.fast_memory
        ext.args = '--search-type 3 -k 15 -e 1E-50 --max-seqs 500000 --max-seq-len 65535 --alignment-mode 3  -a 1 --spaced-kmer-mode 0 --exact-kmer-matching 0 --strand 2 --remove-tmp-files 1'
    }

    withName: 'MMSEQS_REPORT' {
        cpus = 2
        memory = 5.GB
        scratch = params.fast_memory
        // Column names in the output:
        ext.args = 'qset,query,range_id,n_ranges,target_id,target_k,target_p,target_c,target_o,target_f,target_g,target_s,pident,alnlen,evalue,bits,qlen,tlen,qcov,mismatch,gapopen,qstart,qend,tstart,tend,strand_top_hit,total_hits,top_5_target_taxa_p,top_5_target_taxa_g,target_2,pident_2,alnlen_2,evalue_2,target_3,pident_3,alnlen_3,evalue_3,target_4,pident_4,alnlen_4,evalue_4,target_5,pident_5,alnlen_5,evalue_5'
    }

    withName: 'GET_ORGANELLE' {
        cpus = 16
        memory = 40.GB
        time = 5.h
        errorStrategy = { task.attempt == 1 ? 'retry' : 'ignore' }
        maxRetries = 1
        scratch = params.fast_memory
        // NB: fallback option is for the bug when GO doesn't see its DBs. It also caps max reads.
        // TODO: move fallback options to the main run (this is resume-breaking)
        // TODO: for 150bp reads SPAdes recommends upper k 77 - adjust in the main run (resume-breaking)
        ext.args = { task.attempt == 1 ? '-F fungus_nr,fungus_mt -R 20 -J 1 -M 1 -k 21,45,65,85,105,127 --reduce-reads-for-coverage inf --max-reads inf' : "-F fungus_nr,fungus_mt -R 20 -J 1 -M 1 -k 21,33,55,77 --config-dir ${params.getorganelle_config_dir}" }
    }

    withName: 'FASTAS_FOR_MAP' {
        cpus = 2
        memory = 5.GB
    }

    withName: 'ITSX' {
        cpus = 16
        memory = 20.GB
        time = 2.h
        errorStrategy = 'ignore'
        // Main options except -p :
        ext.args = '--nhmmer T -N 1 --preserve T --save_regions all --allow_reorder T --anchor 10 --table T --not_found F --graphical F --detailed_results T'
    }

    withName: 'FILTER_READS' {
        cpus = 6
        memory = 10.GB
    }

    withName: 'FCSGX_RUNGX' {
        cpus = 16
        memory = 150.GB
        errorStrategy = 'ignore'
        scratch = params.fast_memory
        // Do not allow to run more than 1 process of FCS-GX:
        maxForks = 1
        ext.args = ''
    }

    withName: 'FCSGX_DB_UNLOAD' {
        cpus = 2
        memory = 2.GB
        errorStrategy = 'ignore'
        maxForks = 1
    }

    withName: 'FASTK' {
        cpus = 16
        memory = 50.GB
        scratch = params.fast_memory
        errorStrategy = 'ignore'
        ext.args = '-t -p -P.'
    }

    withName: 'MERQURYFK' {
        cpus = 8
        memory = 10.GB 
        errorStrategy = 'ignore'
        ext.args = '-v -pdf'
    }

}

// Custom profiles
profiles {

    Aplate {
        params {
            pattern = '*_R{1,2}_001.fastq.gz'
            sample_name_parts = 1
            }
        process {
                  
            // Override some specific process configurations
            withName: 'FASTP' {
                ext.args = '--detect_adapter_for_pe --trim_front1=14 --trim_tail1=1'
            }
        }
    }
    
    Bplate {
        params {
            pattern = '*_R{1,2}_001.fastq.gz'
            sample_name_parts = 3
            }
        process {
                  
            // Override some specific process configurations
            withName: 'FASTP' {
                ext.args = '--detect_adapter_for_pe --trim_front1=14'
            }
        }
    }
    
    Cplate {
        params {
            pattern = '*_R{1,2}_001.fastq.gz'
            sample_name_parts = 3
            }
        process {
                  
            // Override some specific process configurations
            withName: 'FASTP' {
                ext.args = '--detect_adapter_for_pe --trim_front1=2'
            }
        }
    }
    
    Dplate {
        params {
            pattern = '*_{1,2}.fq.gz'
            sample_name_parts = 1
            }
        process {
                  
            // Override some specific process configurations
            withName: 'FASTP' {
                ext.args = '--detect_adapter_for_pe'
            }
        }
    }
}